*{
  display: border-box;
  font-family: roboto;
}
header{
  margin: 0;
  padding: 0;

  h1{
    font-weight: 400;
    text-align: center;
    margin:0 0 10px 0;
    padding: 5px 0;
    border-bottom: 1px solid #fff;
  }
}
body.home{
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
body.create-form{
  background: linear-gradient(to right, #2193b0, #6dd5ed);
}
body.edit-form{
  background: linear-gradient(to right, #649173, #dbd5a4);
}