*{
  display: border-box;
  font-family: roboto;
}
header{
  margin: 0;
  padding: 0;

  h1{
    font-weight: 400;
    text-align: center;
    margin:0 0 10px 0;
    padding: 5px 0;
    border-bottom: 1px solid #000;
  }
}
body.create-form{
  background: linear-gradient(to right, #2193b0, #6dd5ed);
}