.main-box{
  width: 100vw;
  display: flex;
  background: rgba(#fff, .3);
  overflow: hidden;
}
.create-box, .add-box, .edit-box, .delete-box{
  width: 50vw;
  display: block;
  float: left;
  text-align: center;
  h1 a{
    text-decoration: none;
    color: #000;
    padding: 110.5px 0px;
    display: block;
  }
}
.border-r{
  border-right: 1px solid #000;
}
.border-t{
  border-top: 1px solid #000;
}